/* WordPress style overrides */
.react-calendar__tile,
.react-calendar__navigation__label,
.react-calendar__navigation__arrow,
.react-calendar__month-view__days__day {
  @apply text-black;
}
.react-calendar__navigation__label,
.react-calendar__navigation__arrow {
  @apply text-lg p-0 m-0;
}

.react-calendar__navigation__label {
  @apply uppercase;
}

.react-calendar__month-view__weekdays__weekday {
  @apply text-sm;
}

.react-calendar__tile {
  @apply normal-case;
  /* set the date number at the top of the cell for all cells
   * because without this the number position changes between cells */
  @apply flex flex-col;
}

.react-calendar__month-view__days {
  @apply border-t border-slate-300 border-solid;
}
button.react-calendar__tile {
  @apply border border-t-0 border-r-0 border-slate-300 border-solid;
}

.react-calendar__tile:focus,
.react-calendar__tile:hover {
  @apply no-underline;
}
.react-calendar__tile > abbr {
  @apply text-md;
}

/* replace focus and hover colours */
.react-calendar__tile--active {
  background: inherit;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active:enabled:focus,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--now:enabled:focus,
.react-calendar__tile--now:enabled:hover {
  @apply bg-secondary;
}

button.react-calendar__tile--now {
  @apply bg-secondary;
}

/* brand colours to the header */
.react-calendar__navigation,
.react-calendar__navigation button:disabled {
  @apply bg-primary text-white;
}

.react-calendar__navigation button,
.react-calendar__navigation button > span {
  @apply text-white;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  @apply bg-secondary text-black;
}

/* lighter disabled button colour */
.react-calendar__tile:disabled {
  @apply bg-gray-50;
}

.tlc-intra-events-small .react-calendar__tile {
  @apply flex flex-row justify-between;
}

@media (max-width: 799px) {
  .tlc-intra-events-large .react-calendar__tile {
    @apply flex flex-row justify-between;
  }
}

@media (min-width: 800px) {
  .tlc-intra-events-large .react-calendar__tile {
    @apply h-auto;
    min-height: 92px;
  }
  .tlc-intra-events-large .react-calendar__tile > abbr {
    @apply text-xl;
  }
}

/* support large calendar */
.react-calendar {
  @apply w-auto max-w-screen-xl;
}
